<div class="col-md-6 mx-auto my-5">
  <div class="card">
    <div class="card-header bg-primary text-light"><i class="fa-solid fa-circle-question"></i> FAQ</div>
    <div class="card-body text-start">
      <p class="card-text">
        <em>Q: How can someone use this service?</em><br>A: You need to create a <a href="https://github.com/">GitHub account</a>. You will then be able to use your GitHub account to create and complete tasks with other users.<br><br><em>Q: What information are you storing/processing?</em><br>A: This web application collects the following information from GitHub: email, username, first name and last name. <br><br></p>
    </div>
  </div>
</div>
