<div class="col-md-6 mx-auto my-5 mb-0">

  <div *ngIf="task?.is_cancellable">
    <button class="btn btn-danger w-100 mb-1" type="button" (click)="onCancelTask()">Cancel Task and Reclaim Funds</button>
  </div>

  <!-- Task Description (readonly) -->
  <div *ngIf="!task?.is_editable" class="card my-3">
    <div class="card-header bg-primary text-light">Task - {{ task?.title }}</div>
    <div class="row card-body">
      <p>Author - {{ task?.author }}</p>
      <p>Description - {{ task?.description }}</p>
      <p>Start Bid Amount - {{ task?.start_bid_amount }}</p>
      <p>End Bid Date - {{ task?.end_bid_date | date: 'medium' }}</p>
      <p>Complete Date - {{ task?.end_date | date: 'medium' }}</p>
    </div>
  </div>

  <!-- Task Information (editable) -->
  <div *ngIf="task?.is_editable" class="card my-3">
    <div class="card-header bg-primary text-light">Task - Information </div>
    <div class="row card-body">
      <form [formGroup]="editTaskInformationForm" (ngSubmit)="onEditTaskInformation()" class="mx-auto">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Title</label>
          <input formControlName="title" type="text" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Description</label>
          <textarea formControlName="description" class="form-control" id="exampleFormControlTextarea1"
                    rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-block me-3">Update</button>
        <button type="button" class="btn btn-primary btn-block" (click)="onCancelEditTaskInformation()">Revert</button>
        <div *ngIf="successEditInformation" class="alert alert-success alert-dismissible fade show mt-2" role="alert">
          <strong>Success!</strong> Your task has been updated.
          <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"
                  (click)="successEditInformation = false"></button>
        </div>
      </form>
    </div>
  </div>

  <!-- Task Details (editable) -->
  <div *ngIf="task?.is_editable" class="card my-3">
    <div class="card-header bg-primary text-light">Task - Details </div>
    <div class="row card-body">
      <form [formGroup]="editTaskDetailsForm" (ngSubmit)="onEditTaskDetails()" class="mx-auto">
        <div class="mb-3">
          <label for="inputMinimumPrice" class="form-label">Start Bid Amount</label>
          <input formControlName="start_bid_amount" class="form-control" type="number" min="0" step="0.01"
                 id="inputMinimumPrice">
        </div>
        <div class="mb-3">
          <label class="form-label">Bid End Date</label>
          <input type="text"
                 placeholder="Datepicker"
                 class="form-control"
                 formControlName="bid_end_date"
                 bsDatepicker
                 [bsConfig]="{
              adaptivePosition: true,
              containerClass: 'theme-default',
              withTimepicker: true,
              rangeInputFormat : 'MMMM Do YYYY, h:mm:ss a',
              dateInputFormat: 'MMMM Do YYYY, h:mm:ss a'
              }">
        </div>
        <div class="mb-3">
          <label class="form-label">Task Completion Date</label>
          <input type="text"
                 placeholder="Datepicker"
                 class="form-control"
                 formControlName="complete_date"
                 bsDatepicker
                 [bsConfig]="{
              adaptivePosition: true,
              containerClass: 'theme-default',
              withTimepicker: true,
              rangeInputFormat : 'MMMM Do YYYY, h:mm:ss a',
              dateInputFormat: 'MMMM Do YYYY, h:mm:ss a'
              }">
        </div>
        <button type="submit" class="btn btn-primary btn-block me-3">Update</button>
        <button type="button" class="btn btn-primary btn-block" (click)="onCancelEditTaskDetails()">Revert</button>
        <div *ngIf="successEditDetails" class="alert alert-success alert-dismissible fade show mt-2" role="alert">
          <strong>Success!</strong> Your task has been updated.
          <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"
                  (click)="successEditDetails = false"></button>
        </div>
        <div *ngIf="detailsErrors">
          <div class="alert alert-danger mt-3">{{ detailsErrors }}</div>
        </div>
      </form>
    </div>
  </div>

  <!-- Manage Bids (owner only) -->
  <div *ngIf="user?.username == task?.author" class="card">
    <div class="card-header bg-primary text-light">Manage Bids for Task - {{ task?.title }}</div>
    <div class="row card-body">
      <table class="table text-center">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Author</th>
          <th scope="col">Created Date</th>
          <th scope="col">Amount</th>
          <th scope="col">Status</th>
          <th scope="col">Cancel Requested?</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bid of bids">
          <td>{{ bid.author }}</td>
          <td>{{ bid.created_date | date: 'medium' }}</td>
          <td>{{ bid.amount }}</td>
          <td>{{ task?.finalized ? "Finalized" :  bid.cancelled ? "Cancelled" : bid.is_payable ? "Ready to Pay Out" : bid.cancel_requested ? "Cancel Requested" : "Out Bid" }}</td>
          <td *ngIf="bid.cancel_requested">Yes</td>
          <td *ngIf="!bid.cancel_requested">No</td>
          <td>
            <a *ngIf="bid.is_payable" (click)="onCompleteTask(bid)" class="btn btn-primary">Pay Out</a>
            <a *ngIf="bid.is_cancellable" class="btn btn-primary"
               (click)="onCancelBid(bid)">Cancel</a>
          </td>
        </tr>
        </tbody>
      </table>
      <h6 *ngIf="!bids?.length" class="text-center">No active bids available. </h6>
      <div *ngFor="let error of manageBidErrors">
        <div class="alert alert-danger mt-3">{{ error }}</div>
      </div>
      <div *ngIf="successCancel" class="alert alert-success alert-dismissible fade show mt-2" role="alert">
        <strong>Success!</strong> The bid has been cancelled.
        <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"
                (click)="successCancel = false"></button>
      </div>
    </div>
  </div>

  <!-- Place/Update Bids (owner only) -->
  <div *ngIf="task?.is_biddable" class="card">
    <div class="card-header bg-primary text-light">Place Bids for Task - {{ task?.title }}</div>
    <div class="row card-body">
      <p>Current Best Bid - {{ task?.current_bid }}</p>
      <p *ngIf="task?.user_bid">Your Bid - {{ task?.user_bid?.amount }}</p>
      <p *ngIf="!task?.user_bid">Your Bid - None</p>
      <p *ngIf="task?.user_bid">Requested Cancel? - {{ task?.user_bid?.cancel_requested ? "Yes" : "No" }}</p>
      <p *ngIf="task?.user_bid">Cancelled? - {{ task?.user_bid?.cancelled ? "Yes" : "No" }}</p>
      <input type="number" class="form-control mb-3" id="numericInput" min="0" value="0" step="1" [(ngModel)]="offer_bid_amount">
      <div>
        <button class="btn btn-primary me-3" type="button" (click)="onPlaceBid()">Place Bid</button>
        <button *ngIf="!task?.user_bid?.cancel_requested" class="btn btn-primary" type="button" (click)="onRequestCancelBid()">Request Cancel Bid</button>
      </div>

      <div *ngFor="let error of changeBidErrors">
        <div class="alert alert-danger mt-3">{{ error }}</div>
      </div>
      <div *ngIf="successPlace" class="alert alert-success alert-dismissible fade show mt-2" role="alert">
        <strong>Success!</strong> Your bid has been placed.
        <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"
                (click)="successPlace = false"></button>
      </div>
    </div>
  </div>
</div>
